__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
env/

.git/
.gitignore
.pre-commit-config.yaml

.idea/
.vscode/

.env

.pytest_cache/
.mypy_cache/

build/
dist/
*.egg-info/

spatial_lib/.venv/
spatial_lib/.pytest_cache/
spatial_lib/build/
spatial_lib/dist/
